# PayUnit integration
PAYUNIT_API_KEY=
PAYUNIT_BASE_URL=https://gateway.payunit.net

# Frontend/backend urls
FRONTEND_URL=http://localhost:3000
BACKEND_URL=http://localhost:5000

# Currency code
CURRENCY=XAF
